<% @cocktails.each do |cocktail| %>
  <%= cocktail.name %>
  <% if cocktail.doses.any? %>
    <li>
      <% cocktail.doses.each do |dose| %>
        <%= dose.ingredient.name %>
      <% end %>
    </li>
  <% end %>
<% end %>